# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# .env file 
.env
# dependencies
/node_modules
/.pnp
.pnp.js
$2a$10$p4LridTkztL2RjO/wzrpKu7v57nn3Vq6LMpY7YABRdLYeHrwzSGcm
# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
