@tailwind base;
@tailwind components;
@tailwind utilities;

.password-container {
    position: relative;
  }
  
  .password-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-container button {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
  }
  .text-size::placeholder {
    font-size: 14px; /* Adjust the placeholder font size */
  }
  .password-container button::after {
    transition: transform 0.3s ease-in-out;
  }
  
  .password-container button:hover::after {
    transform: scale(1.2);
  }
  
  